

.wrapper-box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 90px;
    column-gap: 15px;
}

.box{
    width: 365px;
    height: 200px;
    flex-basis: 30%;
    position: relative;
    transition: transform 0.3s ease-in-out;
    
    
}


.box img:hover{
    border: 1px solid brown;
}

.box img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    
}

.play-button{
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

.content-header{
    color: white;
    margin-top: 20px;
    text-align: center;
}

@media(min-width:1200px){
.box:hover{
    transform: scale(1.3);
    
}}