.header{
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 50px 20px;
}

#logo-img{
  width: 200px;
}
#logo-img:hover{
  width: 220px;
  transition: 0.5s;
}

.search{
  display: flex;
  align-items: center;
  gap: 20px;
}

input{
  height: 35px;
  width: 100%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: black;
  border-radius: 7px;
  border: 1.5px solid white;

}

nav{
  display: flex;
  align-items: center;
  gap: 30px;
  color: white;
  margin-left: 20px;
}

.header-a{
  font-size: 1.2em;
  text-decoration: none;
  color: gray;


}

.header-a:hover{
  color: white;
  cursor: pointer;
  transition: 0.2s;
}


.search img:hover{
  cursor: pointer;
}

